.Home{
    padding-left: 50px;
}
.About{
    padding-left: 50px;
}
.Contact{
    padding-left: 50px;
}
.signup {
    margin-left: 400px;
}
.signin{
    margin-left: 30px;
}
.h11{
    margin-top: 40px;
}